@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Успешно актулизирана парола";
}

<h2>@ViewData["Title"]</h2>
<p>
    Паролата ви е актулизирана. Моля влезте в <a asp-page="./Login">акаунта си</a>.
</p>
