@page

@inject UserManager<User> UserManager

@model CreateModel

@{
    ViewData["Title"] = "Добави фирма";
    Layout = "Layout/_Create";

    var locations = ViewBag.Locations as IEnumerable<SelectListItem>;
    var user = await UserManager.GetUserAsync(User);
}


<section class="form-box">

    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-1 form-wizard">

                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <h3 style="font-weight:700;">Добави фирма</h3>
                    <small>
                        Попълнете цялото поле за форма, за да преминете към следващата стъпка.
                    </small>

                    <div class="form-wizard-steps form-wizard-tolal-steps-4">
                        <div class="form-wizard-progress">
                            <div class="form-wizard-progress-line" data-now-value="12.25" data-number-of-steps="4" style="width: 12.25%; "></div>
                        </div>
                        <div class="form-wizard-step active">
                            <div class="form-wizard-step-icon"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                            <p>Основнo</p>
                        </div>

                        <div class="form-wizard-step">
                            <div class="form-wizard-step-icon"><i class="fa fa-shield" aria-hidden="true"></i></div>
                            <p>Потвърждение</p>
                        </div>

                        <div class="form-wizard-step">
                            <div class="form-wizard-step-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <p>Персонал</p>
                        </div>

                        <div class="form-wizard-step">
                            <div class="form-wizard-step-icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                            <p>Детайли</p>
                        </div>

                    </div>

                    <fieldset>

                        <h4>Основна информация: <span>Стъпка (1 / 4)</span></h4>
                        <div class="form-group">
                            <label asp-for="Input.Title"></label><span>*</span>
                            <input asp-for="Input.Title" class="form-control required" />
                            <span asp-validation-for="Input.Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Email"></label><span>*</span>
                            <input asp-for="Input.Email" class="form-control required" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Website"></label>
                            <input asp-for="Input.Website" class="form-control" placeholder="https://www.myweb.com/" />
                            <span asp-validation-for="Input.Website" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.LocationId"></label><span>*</span>
                            <select asp-for="Input.LocationId" asp-items="locations" class="form-control"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Adress"></label><span>*</span>
                            <input asp-for="Input.Adress" class="form-control required" placeholder="Bul. 'Nikola Vapcarov 55'" />
                            <span asp-validation-for="Input.Adress" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.PhoneNumber"></label>
                            <input asp-for="Input.PhoneNumber" class="form-control required" placeholder="088 703 8011" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-wizard-buttons">
                            <button type="button" class="btn btn-next">Продължи</button>
                        </div>
                    </fieldset>


                    <fieldset>

                        <h4>Потвърждаване: <span>Стъпка (2 / 4)</span></h4>
                        <div class="form-group">
                            <label asp-for="Input.isAuthentic_EIK"></label>
                            <input asp-for="EIK" id="input-eik" class="form-control required" />
                        </div>

                        <div class="custom-control custom-switch">
                            <input asp-for="Input.Private" type="checkbox" class="custom-control-input" id="switch1">
                            <label class="custom-control-label" for="switch1">Частна компания</label>
                        </div>

                        <div class="form-wizard-buttons">
                            <button type="button" class="btn btn-previous">Назад</button>
                            <button type="button" onclick="isValidEIK();" class="btn btn-next">Продължи</button>
                        </div>
                    </fieldset>

                    <fieldset>

                        <h4>Добави персонал: <span>Стъпка (3 / 4)</span></h4>
                        <b>(Полетата не са задължителни.)</b>

                        <div class="form-group">
                            <label asp-for="Input.Admin1_Id"></label>
                            <input asp-for="Input.Admin1_Id" onclick="complate('#AutoComplete')" class="form-control" id="AutoComplete" name="AutoComplete" autocomplete="off" />
                            <input asp-for="Input.Admin1_Id" type="hidden" onclick="complate('#AutoComplete')" id="AutoCompleteHidden" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Admin2_Id"></label>
                            <input asp-for="Input.Admin2_Id" onclick="complate('#AutoComplete2')" class="form-control" id="AutoComplete2" name="AutoComplete2" autocomplete="off" />
                            <input asp-for="Input.Admin2_Id" type="hidden" onclick="complate('#AutoComplete2')" id="AutoComplete2Hidden" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Admin3_Id"></label>
                            <input asp-for="Input.Admin3_Id" onclick="complate('#AutoComplete3')" class="form-control" id="AutoComplete3" name="AutoComplete3" autocomplete="off" />
                            <input asp-for="Input.Admin3_Id" type="hidden" onclick="complate('#AutoComplete3')" id="AutoComplete3Hidden" autocomplete="off" />
                        </div>

                        <br />
                        <div class="form-wizard-buttons">
                            <button type="button" class="btn btn-previous">Назад</button>
                            <button type="button" class="btn btn-next">Продължи</button>
                        </div>
                    </fieldset>

                    <fieldset>

                        <h4>Детайли : <span>Стъпка (4 / 4)</span></h4>
                        <div class="form-group">
                            <label asp-for="Input.About"></label><small>(кратко описание на компанията)</small>
                            <input asp-for="Input.About" class="form-control required" />
                            <span asp-validation-for="Input.About" class="text-danger"></span>
                        </div>
                        <br>

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2 imgUp">
                                    <label>Снимка:</label>
                                    <input asp-for="Input.FormFile" type="file" />
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="form-wizard-buttons">
                            <button type="button" class="btn btn-previous">Назад</button>
                            <button type="submit" class="btn btn-submit">Предай</button>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>

    </div>
</section>

