<div class="sidebar" data-color="purple" data-image="../panel/assets/img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a asp-page="/Admin/Index" class="simple-text">
                Admin Panel
            </a>
        </div>

        <partial name="Partials/_ManageNav" />
    </div>
</div>